flows.json
[{"id":"36b299d2.d527f6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"772ec03e.69024","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7ea7523e.26a66c","type":"ui_tab","z":"","name":"CUSTOMER CARE","icon":"dashboard","disabled":false,"hidden":false},{"id":"37fe62b9.53f91e","type":"ui_group","z":"","name":"Chatbot","tab":"70a85a8f.5909b4","order":1,"disp":true,"width":"8","collapse":false},{"id":"70a85a8f.5909b4","type":"ui_tab","z":"","name":"CUSTOMER CARE","icon":"dashboard","disabled":false,"hidden":false},{"id":"2d6ceda3.245b42","type":"ui_group","z":"","name":"Default","tab":"70a85a8f.5909b4","order":1,"disp":true,"width":"10","collapse":false},{"id":"1d6fdbc3.a36934","type":"ui_form","z":"36b299d2.d527f6","name":"","label":"","group":"37fe62b9.53f91e","order":0,"width":"5","height":"5","options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":300,"wires":[["a7d7d8cb.4bf5a8"]]},{"id":"17ddd39f.62563c","type":"ui_text","z":"36b299d2.d527f6","group":"37fe62b9.53f91e","order":1,"width":"5","height":"5","name":"","label":"Input","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":320,"wires":[]},{"id":"a7d7d8cb.4bf5a8","type":"function","z":"36b299d2.d527f6","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["17ddd39f.62563c","5654273a.ace718"]]},{"id":"c13133e.3dc53d","type":"function","z":"36b299d2.d527f6","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["4d657dfc.29da24"]]},{"id":"7217ee97.57074","type":"debug","z":"36b299d2.d527f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"5654273a.ace718","type":"watson-conversation-v1","z":"36b299d2.d527f6","name":"Assistant","workspaceid":"b890ca1a-1e92-4849-8fe0-2b101d286e0c","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":440,"y":140,"wires":[["c13133e.3dc53d","7217ee97.57074"]]},{"id":"4d657dfc.29da24","type":"ui_text","z":"36b299d2.d527f6","group":"2d6ceda3.245b42","order":2,"width":"7","height":"7","name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":340,"wires":[]}]